<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" name="automation" monitorInterval="30">
  <properties>
    <property name="filename">automation</property>
    <property name="rollingextension">log</property>
  </properties>
  <Appenders>
    <RollingFile name="ExceptionLog" fileName="logsAutomation/${filename}-exception.log" filePattern="logs/${filename}-exception-%d{yyyy}-%i.${rollingextension}" ignoreExceptions="false">
      <PatternLayout>
        <Pattern>%-5p - %d{dd-MM-yyyy HH:mm:ss:SSS} [%t] %c %m%n</Pattern>
      </PatternLayout>
      <DefaultRolloverStrategy fileIndex="max" max="10" />
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true" />
        <SizeBasedTriggeringPolicy size="20 MB" />
      </Policies>
    </RollingFile>
    <RollingFile name="InfoLog" fileName="logsAutomation/${filename}.log" filePattern="logsAutomation/${filename}-%d{yyyy}-%i.${rollingextension}" ignoreExceptions="false">
      <PatternLayout>
        <Pattern>%-5p - %d{dd-MM-yyyy HH:mm:ss:SSS} [%t] %c %m%n</Pattern>
      </PatternLayout>
      <DefaultRolloverStrategy fileIndex="max" max="10" />
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true" />
        <SizeBasedTriggeringPolicy size="20 MB" />
      </Policies>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="TRACE">
      <AppenderRef ref="InfoLog" level="INFO" />
      <AppenderRef ref="ExceptionLog" level="ALL" />
    </Root>
  </Loggers>
</configuration>
